<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>BeautifulPlaces</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top  mb-60">
    <a class="navbar-brand" href="/" style="color: #e99393""><strong>PLACE</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class=" navbar-nav mr-auto">
        <li  class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
          <a href="/places" class="nav-link active"><i class="fas fa-home"></i> Home</a>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div id="searchButton">
                <form  action="/places" method="GET" class="form-inline"  >
                  <div class="form-group">
                 <input id="searchbox" type="text" name="search" placeholder="  search favourite place">
                  <input type="submit" value="Search" class="btn btn-default" id="search" >
                  </div>
                  </form>
                </div>
             <% if(!currentUser){ %>
              <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                <a href="/login" class="nav-link">Login</a>
              </li>
                  <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                <a href="/register" class="nav-link">Sign Up</a>
              </li>
                <% } else { %>
                   <li class="nav-item">
                <a class="nav-link" href="#">Signed In As <%= currentUser.username %></a>
              </li>
                  <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
              </li>
          <% } %>
      </ul>
    </div>
  </nav>
</header>
<section>
  <div class="container " >
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger" style="margin-top: 6%" role="alert"><%=error %></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success" style="margin-top: 6%" role="alert"><%=success %></div>
     <% } %>
  </div>
<div class="container">




      