            
<% include ../partials/header %>
<div class="container">
    <div class="row">
            <div class="col-md-12 mt-5">
            <form class="form-signin" action="/places/<%= place._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h1 class="h3 mb-3 font-weight-normal">Edit <%=  place.name %></h1>
                    <label for="text">Name</label>
                    <input class="form-control" type="text" name="place[name]" value="<%= place.name %>">         
                    <label for="number">Price</label>
                    <input class="form-control" type="number" name="place[price]" value="<%= place.price %>" min="0.00" step="0.01">
                    <label for="inputtext">Select image</label>
                    <input type="file" id="image" name="image" accept="image/*" >
                    <label for="inputtext">Description</label>
                    <input class="form-control" type="text" name="place[description]" value="<%= place.description %>">
                    <label for="inputtext">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= place.location %>">
                    <label for="inputtext">Main Site Link</label>
                    <input class="form-control" type="text" name="place[site]" id="site" value="<%= place.site %>">
                     <button class="btn btn-lg btn-primary btn-block" style="margin-top: 7% ; border-radius: 20px 20px 20px 20px;">Update</button>
                </form>
            <div class="form-signin">
                    <a href="/places">Go Back</a>
                    
                </div>

        </div>
    </div>
    
</div>

<% include ../partials/footer %>





