<% include ../partials/header %>

<div class="container" style="margin-top: 7%">

    <header  >
        
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">

         
            
            <!-- The slideshow -->
            <div class="carousel-inner" >
              <div class="carousel-item active" >
                <img  src="https://i.pinimg.com/originals/57/d9/54/57d954e06ccbae76081ca456f92ee9cd.jpg" style=" width: 1100px; height: 350px;object-fit: cover;" >
                              
                <div id="text" class="carousel-caption d-none d-md-block">
                    <h1 style="font-weight: 900; color: #e99393;">LAGOS IS FUN WITH US</h1>
                    <h3 style="font-weight: 400; color: #e99393">Let's take you on the lagos beautiful experience</h3>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="http://penanghyperlocal.com/wp-content/uploads/2019/04/Gravity-2-1024x624.jpg" style=" width: 1100px; height: 350px;object-fit: cover;" >
                <div id="text" class="carousel-caption d-none d-md-block">
                    <h1 style="font-weight: 900; color:#f7f7f7">WE ARE THE CENTER OF EXCELLENCE</h1>
                    <h3 style="font-weight: 400; color:#f7f7f7">Excellence is our standard</h3>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="https://www.propertypro.ng/blog/wp-content/uploads/2016/10/3.jpg" style=" width: 1100px; height: 350px;object-fit: cover;" >
                <div id="text" class="carousel-caption d-none d-md-block">
                    <h1 style="font-weight: 900; color: #e99393">YOU CAN RELAX HERE</h1>
                    <h3 style="font-weight: 400; color: #e99393">Let's treat you right</h3>
                  </div>
         </div>
            
         <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/3f/74/c0/3f74c03aec51c57d62de7bab09d31478.jpg" style=" width: 1100px; height: 350px;object-fit: cover;" >
            <div id="text" class="carousel-caption d-none d-md-block">
                <h1 style="font-weight: 900; color:white">EKO AROMI SA LEGBE LEGBE</h1>
                <h3 style="font-weight: 400; color:white">We respect our culture</h3>
              </div>
     </div>
     <div class="carousel-item">
        <img src="https://www.ilubirin.ng/wp-content/uploads/2018/09/NG_LOS_IlubirinMP_A_9000-RENDER_02_Lagoon-1.jpg" style=" width: 1100px; height: 350px;object-fit: cover;" >
        <div id="text" class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: 900; color:#e99393">WE HAVE THE RIDE</h1>
            <h3 style="font-weight: 400; color:#e99393">You get the chills</h3>
          </div>
 </div>
 <div class="carousel-item">
        <img src="https://www.maisonfahrenheit.com/wp-content/uploads/2018/08/UNADJUSTEDNONRAW_thumb_6152.jpg" style=" width: 1100px; height: 350px;object-fit: cover;" >
        <div id="text" class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: 900; color:white">WE WORK HARD</h1>
            <h3 style="font-weight: 400; color:white">We are creative</h3>
          </div>
 </div>
          </div>


         <p style="background:  rgba(0,0,0,0.5); margin-top: 1%">
                <a class="btn btn-dark btn-sm" href="places/new"  ><strong>Add New Place</strong> </a>
                <a href="/places" id="viewPlace" class="btn btn-sm btn-dark" ><strong>View All Places</strong> </a>
            </p>
        
           
        </div>
    </header>

    <div class="row text-center" style="display: flex; ">

        <% places.forEach(function(place){ %>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
            <div class="card" id="zoom" >
                <img  class="card-img-top" src="<%= place.image %>"   alt="<%= place.name %>" style="height: 200px">
                <div class="caption">
                    <h5  class="card-title" style="text-transform: uppercase"><%= place.name %></h5>
                    <div>
                        <span class="badge badge-dark mb-3"><i class="fas fa-thumbs-up"></i>
                            <%= place.likes.length %></span>
                    </div>
                </div>
                <p>
                <% if (place.rating === 0) { %>
                <em>No reviews yet.</em>
                <% } else { %>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star <% if (place.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (place.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (place.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (place.rating > 4.5) { %> checked <% } %>"></span>
                <% } %>
                <p>
                    
                    <a href="/places/<%= place._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>

</div>

<div class="container" >
    <div class="col-md-12">
        <% if (noMatch !== undefined) { %>
        <h3><%= noMatch %></h3>
        <% } %>
        <div>
         <nav aria-label="Page navigation " >
                        <% if (pages && pages > 0) { %>
                        <ul class="pagination justify-content-center" style="margin-bottom: 10%">
                            <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                            <% } else { %>
                            <li ><a class="page-link" href="/places">First</a></li>
                            <% } %>
                     
                            <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">«</a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/places?page=<%= Number(current) - 1 %>">«</a></li>
                            <% } %>
                     
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                            <li class="active"><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/places?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% } %>
                     
                            <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">»</a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/places?page=<%= Number(current) + 1 %>">»</a></li>
                            <% } %>
                     
                            <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/places?page=<%= pages %>">Last</a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </nav>
                </div>
    </div>
    

    

<% include ../partials/footer %>


